
main {
    margin: 50px;
}

aside {
    float: left;
    width: 28%;
}

article {
    margin-bottom: 20px;
    float: right;
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

figure {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

img {
    margin: 15px;
    width: 300px;
}

.img_container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.smaller {
    margin: 15px 0;
    width: 50px;
}
