/*
    Rule sets here
*/

@font-face {
    font-family: "Flamenco";
    src: url(../fonts/Flamenco/Flamenco-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "OldStandardTT";
    src: url(../fonts/Old_Standard_TT/OldStandardTT-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "OldStandardTT-Bold";
    src: url(../fonts/Old_Standard_TT/OldStandardTT-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@media screen and (min-height: 1200px) and (min-width: 1400px) {
    footer {
        position: absolute;
        bottom: 0;
        height: 210px;
        font-size: 24px;
    }
}

@media screen and (min-height: 900px) and (max-width: 1399px) {
    footer {
        position: absolute;
    }
}

@media screen and (max-width: 1399px) and (max-height: 1000px) {
    footer {
        position: relative;
        margin-top: 100px;
        font-size: 14px;
        height: 150px;
    }
}

/* Here you can start styling. ^_^*/

nav {
    background-color: rgb(221, 206, 186);
    font-family: "OldStandardTT";
}

#sone {
	padding-top:4rem;
    margin: 50px 0 50px 0;
}

#stwo {
	padding-top:4rem;
	min-height: 100vh;
}

#sthree {
	padding-top:4rem;
	min-height: 100vh;
}

#sfour {
	padding-top:4rem;
	min-height: 100vh;
}

body {
    background-image: url(../img/backgrounds/web%20background.jpeg);
}

h1 {
    font-family: "OldStandardTT-Bold";
}

figcaption {
    font-family: "OldStandardTT"
}

a {
    text-decoration: none;
    color: black;
}

footer {
    position: absolute;
    clear: both;
    background-color: #b5cae2;
    bottom: 0;
    height: 160px;
    width: 100%;
}

#contact_info {
    float: right;
    padding-top: 25px;
    margin-bottom: -20px;
    width: 25%;
}

#contact_info ul {
    list-style: none;
}

#contact_info ul li {
    margin: 5px;
    font-family: "Flamenco";
}

#copy {
    clear: right;
}
